/**Selector/Identifier
*For tags: tagname,
*for class: .classname,
*for id:   #idname,
*for attribute: [attribute=value],
*for pseudo-classes: :pseudo-class
/***/


img{
    height: 150px;
    width: 150px;
}

.heading{
    color: maroon;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
}

#cut{
    text-decoration: line-through;
    color: rgb(117, 117, 117);
    font-size: .6em;
}
.bg{
    background-color: burlywood;
}